<!-- Bounding Box -->
<svg:rect
    [attr.x]="dfgNode().x - (eventLogWidth() / 2)"
    [attr.y]="dfgNode().y - (dfgNode().height / 2)"
    [attr.width]="eventLogWidth()"
    [attr.height]="dfgNode().height"
    [attr.rx]="6"
    [attr.ry]="6"
    (click)="dfgClicked.emit(dfgNode())"
    class="cursor-pointer"
    fill="#c5c5c5"
    stroke="black"
    stroke-width="1"
    xmlns:svg="http://www.w3.org/2000/svg"
></svg:rect>

<!-- Resizer Handle -->
<svg:circle
    xmlns:svg="http://www.w3.org/2000/svg"
    [attr.cx]="dfgNode().x + (eventLogWidth() / 2)"
    [attr.cy]="dfgNode().y"
    r="6"
    fill="gray"
    class="cursor-ew-resize"
    (mousedown)="onResizeStart($event)"
></svg:circle>

<!-- Text Content -->
@for (event of dfgNode().dfg.eventLog; track $index) {
    @let eventText = event | truncateEventLog : eventLogWidth();
    <svg:text
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.x]="dfgNode().x - (eventLogWidth() / 2) + (PhysicsHelper.eventLogTextPaddingHorizontal / 2)"
        [attr.y]="dfgNode().y - (dfgNode().height / 2) + (PhysicsHelper.eventLogTextPaddingVertical / 2) + ($index * PhysicsHelper.lineHeight)"
        text-anchor="start"
        font-size="16"
        fill="black"
        class="select-none pointer-events-none max-w-[160px] overflow-hidden overflow-ellipsis"
    >
        {{eventText}}
        @if(!$last) {
            +
        }
    </svg:text>
}
