.data-input {
    border: 2px dashed gray;
    border-radius: 8px;

    &.active {
        border-color: #00d500;
    }
}

.start-button {
    max-width: 8em;
    font-size: large;
}

.ta-font {
    font-family: "Courier New", sans-serif !important;
}
