<div class="flex flex-col max-w-[1024px] mx-auto">

    <!-- Filedrop area -->
    <h2 class="mb-2">Import File</h2>
    <app-ilpn-file-drop class="self-center"
                        descriptionText="Drag'n'Drop a XES log file here"
                        contentText="🦫"
                        (fileContent)="handleFiles($event)"></app-ilpn-file-drop>

    <!-- Seperator -->
    <div class="flex items-center gap-3 my-5 mx-12">
        <div class="grow h-[1px] bg-black"></div>
        <span>OR</span>
        <div class="grow h-[1px] bg-black"></div>
    </div>

    <!-- Manual event log input -->
    <h2 class="mb-2">Enter Event Log manually</h2>
    <mat-form-field appearance="outline">
        <textarea rows="6" matInput [formControl]="manualInputControl"></textarea>
        @if (manualInputControl.hasError("invalid")) {
            <mat-error>
                Please check format: event1 event2 event3 + event2 event5 event3 + event2 event0
            </mat-error>
        }
    </mat-form-field>
    <button mat-flat-button class="start-button self-center" [disabled]="manualInputControl.invalid" (click)="parseEventLog()">START!</button>
</div>
