<input type="file" accept=".xes" #fileInput class="hidden" (change)="onFileInputChange($event)">
<div class="flex flex-col max-w-[1024px] mx-auto">

    <!-- Filedrop area -->
    <h2 class="mb-2">Import File</h2>
    <div class="flex items-center justify-center cursor-pointer h-60 data-input"
         [class.active]="dragCounter !== 0"
         (dragenter)="onDragEnter($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)"
         (dragover)="$event.preventDefault()"
         (click)="fileInput.click()">

        <!-- Prompt -->
        <div class="flex flex-col items-center">
            <span class="text-xl">Drag'n'Drop .XES file here</span>
            <span class="italic">OR</span>
            <span>Click to open file</span>
        </div>

    </div>

    <!-- Seperator -->
    <div class="flex items-center gap-3 my-5 mx-12">
        <div class="grow h-[1px] bg-black"></div>
        <span>OR</span>
        <div class="grow h-[1px] bg-black"></div>
    </div>

    <!-- Manual event log input -->
    <h2 class="mb-2">Enter Event Log manually</h2>
    <mat-form-field appearance="outline">
        <textarea rows="6" matInput [formControl]="manualInputControl"></textarea>
        @if (manualInputControl.hasError("invalid")) {
            <mat-error>
                Please check format: event1 event2 event3 + event2 event5 event3 + event2 event0
            </mat-error>
        }
    </mat-form-field>
    <button mat-flat-button class="start-button self-center" [disabled]="manualInputControl.invalid" (click)="parseEventLog()">START!</button>
</div>
