<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter header">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>

    <h2>
<!--    TODO update website text    -->
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by<br>
        Carl Sauter, Linus Rausch, Robin Proeckl and Hyunkil Oh
    </h2>

    <hr>

    @if (processGraphService.graphSignal()) {
        <div class="flex flex-col gap-3">
            <toolbar/>
            <app-canvas/>
        </div>
    } @else {
        <data-input/>
    }

    <hr>

    <!--  Footer  -->
    <div class="footer-font">
        ...and I know you do too!
        <br>
        <br>
        <a href="https://www.fernuni-hagen.de/mi/fakultaet/lehrende/bergenthum/index.shtml">Robin Bergenthum</a> and <a href="https://www.fernuni-hagen.de/ps/team/Jakub.Kovar.shtml">Jakub Kovář</a>
        <br>
        Fakultät für Mathematik und Informatik
        <br>
        Fernuni in Hagen, Germany
        <br>
        <a href="https://www.fernuni-hagen.de/service/impressum.shtml">Impressum</a> · <a href="https://www.fernuni-hagen.de/service/datenschutz.shtml">Datenschutz</a>
    </div>
</div>
