<div class="toolbox flex-wrap">

    <!-- Animation wrapper -->
    <div class="overflow-x-clip">
        <div class="relative toolbox" [style.left]="selectionService.selectedDfg() ? 0 : '-100%'">

            <!-- Cut Type -->
            <div class="toolbox-section">
                <span class="toolbox-section-label">Cut</span>
                @for (type of CutType | keyvalue: originalOrder; track type.value) {
                    <span mat-ripple class="toolbox-section-value" [class.selected]="toolbarService.cutType() == type.value" (click)="toolbarService.cutType.set(type.value)">
                        {{type.value}}
                    </span>
                }
            </div>

            <!-- Fallthrough Type -->
            <div class="toolbox-section">
                <span class="toolbox-section-label">Fallthrough</span>

                <span mat-ripple
                      class="toolbox-section-value"
                      matTooltip="Repeating Pattern per Tau Do/Redo"
                      [class.selected]="toolbarService.fallthroughType() === Fallthrough.SPT"
                      (click)="toolbarService.fallthroughType.set(Fallthrough.SPT)">
                    Tau-Loop
                </span>

                <span mat-ripple
                      class="toolbox-section-value"
                      matTooltip="Activity once per Trace"
                      [class.selected]="toolbarService.fallthroughType() === Fallthrough.AOPT"
                      (click)="toolbarService.fallthroughType.set(Fallthrough.AOPT)">
                    AOPT
                </span>

                <span mat-ripple
                      class="toolbox-section-value"
                      matTooltip="Conversion to Flower-Model"
                      [class.selected]="toolbarService.fallthroughType() === Fallthrough.FLOWER"
                      (click)="toolbarService.fallthroughType.set(Fallthrough.FLOWER)">
                    Flower
                </span>
            </div>

            <!-- Validate Button -->
            @let needsNode = toolbarService.cutType() || toolbarService.fallthroughType() === Fallthrough.AOPT;
            <button mat-fab extended
                    (click)="validateCut()"
                    [disabled]="needsNode && selectionService.selectedNodes().length == 0"
                    matTooltip="Validate if cut / fallthrough is correct">
                <mat-icon>check</mat-icon>
                Validate
            </button>

            <button mat-fab matTooltip="I need a hint!" (click)="showHint()">
                <mat-icon>tips_and_updates</mat-icon>
            </button>

        </div>
    </div>


    <div class="grow"></div>


    <!-- Graph mode -->
    <div class="toolbox-section">
        <span class="toolbox-section-label">Graph</span>
        <span mat-ripple
              class="toolbox-section-value"
              matTooltip="Arrange nodes automatic with a spring embedder"
              [class.selected]="toolbarService.useSpringEmbedder()"
              (click)="toolbarService.useSpringEmbedder.set(true)">
            Spring Embedder
        </span>

        <span mat-ripple
              class="toolbox-section-value"
              matTooltip="Arrange nodes by yourself"
              [class.selected]="!toolbarService.useSpringEmbedder()"
              (click)="toolbarService.useSpringEmbedder.set(false)">
            Free Layout
        </span>
    </div>

    <!-- Export -->
    @let preventExport = (graphService.graphSignal()?.dfgSet?.size || 0) > 0;
    <div matTooltip="Petri Net can only be exported after the inductive miner has terminated" [matTooltipDisabled]="!preventExport">
        <button mat-fab matTooltip="Export Petri Net" [disabled]="preventExport" [matMenuTriggerFor]="exportMenu">
            <mat-icon>file_download</mat-icon>
        </button>
    </div>

    <!-- Abort -->
    <button mat-fab matTooltip="Abort" (click)="abort()">
        <mat-icon>clear</mat-icon>
    </button>
</div>

<!-- Export menu -->
<mat-menu #exportMenu>
    @for (type of ExportType | keyvalue; track type.value) {
        <button mat-menu-item (click)="export(type.value)">
            {{ type.value | uppercase }}
        </button>
    }
</mat-menu>
