<div class="flex gap-3 h-[80vh]">
    <!-- Display -->
    <div class="relative grow p-3 bg-gray-300 border border-solid border-black rounded-xl">
        <div class="!absolute top-1 left-1 flex items-center gap-3">
            @if (selectionService.selectedDfg()) {
                <!-- Back button -->
                <button mat-icon-button matTooltip="Back to petri net"
                        (click)="selectionService.selectedDfg.set(null) ; selectionService.selectedNodes.set([])">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class="text-xl font-bold">Directly-Follows Graph</span>
            } @else {
                <span class="text-xl font-bold p-[10px]">Petri Net</span>
            }
        </div>

        <!-- Logs button -->
        <button mat-icon-button [matTooltip]="showLogs() ? 'Hide logs' : 'Show logs'" class="!absolute top-1 right-1"
                (click)="showLogs.set(!showLogs())">
            <mat-icon>list</mat-icon>
        </button>

        <!-- Graph -->
        <svg #svgCanvas xmlns:svg="http://www.w3.org/2000/svg"
             [class]="'w-full h-full ' + (toolbarService.selectionType() | canvasCursor: selectionService.selectedDfg() !== null)"
             (mousedown)="onMouseDown($event)"
             (mousemove)="onMouseMove($event)"
             (mouseup)="onMouseUp()"
        >
            <!-- Definitions for arrow marker -->
            <svg:defs>
                <marker
                    id="arrowhead"
                    markerWidth="10"
                    markerHeight="7"
                    refX="10"
                    refY="3.5"
                    orient="auto"
                >
                    <polygon points="0 0, 10 3.5, 0 7" fill="black"/>
                </marker>
                <svg:filter id="outlineEffect" color-interpolation-filters="sRGB">
                    <svg:feMorphology in="SourceAlpha" result="MORPH" operator="dilate" radius="2"/>
                    <svg:feFlood flood-color="rgb(209, 213, 219)" result="GRAY"/>
                    <svg:feComposite in="GRAY" in2="MORPH" operator="in" result="OUTLINE"/>
                    <svg:feMerge>
                        <svg:feMergeNode in="OUTLINE"/>
                        <svg:feMergeNode in="SourceGraphic"/>
                    </svg:feMerge>
                </svg:filter>
            </svg:defs>

            @if (selectionService.selectedDfg(); as activeDfg) {
                <!-- Full Screen DFG -->
                <g DFG
                   [dfg]="activeDfg"
                   [width]="displayService.width()"
                   [height]="displayService.height()"
                   [useSpringEmbedder]="toolbarService.useSpringEmbedder()"
                   (nodeMouseDown)="nodeMouseDown($event)"
                   (nodeMouseUp)="nodeMouseUp()"
                />
            } @else {
                <!--  Draw Petri Full Graph  -->

                    <!-- Edges -->
                @for (edge of edges; track $index) {
                    <g Edge [edge]="edge"/>
                }

                <!-- DFGs -->
                @for (dfg of dfgs; track $index) {
                    <g EventLog
                       [dfgNode]="dfg"
                       (mousedown)="dfgMouseDown(dfg, $event)"
                       (mouseup)="dfgMouseUp()"
                       (mousemove)="onMouseMove($event)"
                       (dfgClicked)="dfgClicked($event)"
                       (resizingStatus)="onResizingStatusChanged($event)"
                    />
                }

                <!-- Places -->
                @for (place of places; track $index) {
                    <g Place
                       [place]="place"
                       (nodeMouseUp)="nodeMouseUp()"
                       (nodeMouseDown)="nodeMouseDown($event)"
                    />
                }

                <!-- Transitions -->
                @for (transition of transitions; track $index) {
                    <g Node
                       [node]="transition"
                       (nodeMouseUp)="nodeMouseUp()"
                       (nodeMouseDown)="nodeMouseDown($event)"
                    />
                }

            }

            @if (isDrawing) {
                <svg:path [attr.d]="lassoPath" stroke="black" stroke-width="1.5" fill="rgba(0,0,0,0.1)"></svg:path>
            }
        </svg>
    </div>

    <!-- Logs -->
    <div class="transition-all overflow-hidden flex flex-col h-full" [style.max-width]="showLogs() ? '25rem' : 0">
        <div style="width: 25rem" class="h-full flex flex-col gap-4 border border-solid border-black rounded-xl">
            <mat-tab-group class="flex flex-col h-full">
                <mat-tab label="Event Log" bodyClass="p-2 h-full flex flex-col">
                    <div class="overflow-y-auto">
                        @if (selectionService.selectedDfg()) {
                            @for (trace of selectionService.selectedDfg()?.dfg?.eventLog; track $index) {
                                <div class="flex flex-wrap gap-2 mb-5">
                                    @for (node of trace; track $index) {
                                        @let isSelected = node | isSelected: selectionService.selectedNodes();
                                        <span [style.color]="isSelected ? 'red' : null" [class.font-bold]="isSelected">
                                        {{ node }}
                                    </span>
                                    } @empty {
                                        @if (hasUndefinedSelected) {
                                            @for (node of undefinedNodes; track node.name) {
                                                <span class="italic" [style.color]="'red'">&lt;empty trace&gt;</span>
                                            }
                                        } @else {
                                            <span class="italic">&lt;empty trace&gt;</span>
                                        }
                                    }
                                    @if (!$last) {
                                        <span>+</span>
                                    }
                                </div>
                            }
                        } @else {
                            <div class="text-center italic">Click an event log node to decompose!</div>
                        }
                    </div>
                </mat-tab>

                <!-- Activity logs -->
                <!--<mat-tab label="Transformation Steps" bodyClass="p-2 h-full flex flex-col">
                    <div class="overflow-y-auto" #activityLog>
                        @for (log of processGraphService.logSignal(); track $index) {
                            <div class="flex gap-1">
                                <span class="font-bold">{{ $index + 1 }}.</span>
                                <span>{{ log }}</span>
                            </div>
                        }
                    </div>
                </mat-tab>-->
            </mat-tab-group>
        </div>
    </div>
</div>
