<div class="bottom-margin flex flex-col items-start justify-center">
    <span [class.hidden]="!showText && !isHovered">{{descriptionText}}</span>
    <app-ilpn-file-display class="cursor"
                       [hover]="isHovered"
                       [contentText]="contentText"
                       [squareContent]="squareContent"
                       [bold]="bold"
                       (drag)="prevent($event)"
                       (dragstart)="prevent($event)"
                       (dragover)="hoverStart($event)"
                       (dragenter)="hoverStart($event)"
                       (dragleave)="hoverEnd($event)"
                       (dragend)="hoverEnd($event)"
                       (drop)="fileDrop($event)"
                       (mouseenter)="hoverStart($event)"
                       (mouseover)="hoverStart($event)"
                       (mouseout)="hoverEnd($event)"
                       (mouseleave)="hoverEnd($event)"
                       (click)="fileInput.click()">
    </app-ilpn-file-display>
    <input #fileInput type="file" class="hidden-input" multiple (change)="fileSelected($event)">
</div>
